@font-face {
    font-family: iranBakh;
    src: url("fonts/Yekan\ Bakh\ Regular.ttf");
}
@font-face {
    font-family: yekan;
    src: url("fonts-b-yekan/IRYekan.ttf");
}
@font-face {
    font-family: zeytoon;
    src: url("fonts-b-yekan/IRZeytoon.ttf");
}